body {
    background-color: #AC80A0;
}

.checker, th, td {
  empty-cells: hide;
  border: thin solid #061826;;
}

h3 {
	color: #0C304C;
}

td {
	background-color: #0471A6;
	color: #0471A6;
	padding: 15px;
}

.oblique {
	font-style: oblique;
	font-size: 35px;
	font-family: Georgia, serif;
	color: #0471A6;
}

.italic {
	font-style: italic;
	font-size: 35px;
	font-family: Georgia, serif;
	color: #0471A6;
}

.comparator {
	text-align: center;
}

h1 {
	text-align: center;
	font-size: 50px;
	color: #0C304C;
}

.prose {
    writing-mode: vertical-rl;
    color: #89AAE6;
}

hr {
	border: 0;
    height: 1px;
    background: #333;
}

.copyright {
	text-align: center;
	font-size: 9px;
	color: #3685B5;

}